/*==========Reset==============*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, button, input, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	box-sizing: border-box;
}
/*=============Fonts==================*/
@font-face {
	src: url(../fonts/Roboto-Regular_5.ttf);
	font-family: "RobotoRegular";
}
@font-face {
	src: url(../fonts/Roboto-Black_1.ttf);
	font-family: "RobotoBlack";
}
@font-face {
	src: url(../fonts/Roboto-Medium_1.ttf);
	font-family: "RobotoMedium";
}
@font-face {
	src: url(../fonts/GothamProBlack.ttf);
	font-family: "GothamProBlack";
}
@font-face {
	src: url(../fonts/GothamProRegular_0.ttf);
	font-family: "GothamProRegular";
}
@font-face {
	src: url(../fonts/Roboto-Light_0.ttf);
	font-family: "RobotoLight";
}
@font-face {
	src: url(../fonts/GothamProBold.ttf);
	font-family: "GothamProBold";
}
@font-face {
	src: url(../fonts/GothamProLight.ttf);
	font-family: "GothamProLight";
}
@font-face {
	src: url(../fonts/Roboto-Bold_1.ttf);
	font-family: "RobotoBold";
}

/*======================*/


.clearfix:after {
	content: "";
    display: table;
    clear: both;
}
.content {
	position: relative;
}

.container {
	width: 1100px;
	margin: 0 auto;
	position: relative;
}
.head-1 {
	font-size: 40px;
	font-family: "GothamProBlack";
	color: #000;
	text-transform: uppercase;
	margin-top: 115px;
	height: 40px;
}
.head-2 {
	font-size: 40px;
	font-family: "GothamProBlack";
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}
.head-1 > p {
	float: left;
}
.head-1 > p:first-child {
	margin-left: 105px;
}
.head-1 > p:last-child {
	color: #009ce6;
	margin-left: 15px;
}

/*====header===*/

.header {
	height: 140px;
	background: #fff;
}
.header .logo {
	height: 140px;
	line-height: 140px;
	float: left;
}
.header .logo > a {
	display: block;
	height: 100%;
}
.header .logo img {
	vertical-align: middle;
}
.header .measure {
	float: left;
	margin: 50px 0px 0px 75px;
	height: 60px;
}
.header .measure > a {
	display: block;
	height: 100%;
}
.header .measure > a:hover {
	cursor: pointer;
}
.header .measure-img {
	float: left; 
	height: 34px;
	width: 34px;
	background: url(../images/measure.png);
	transition: background 0.4s ease-in-out;
}
/*.header .measure > a:hover .measure-img {
	background: url(../images/measure1.png);
}*/
.header .measure p {
	float: left;
	font-family: "RobotoRegular";
	font-size: 18px;
	color: #525252;
	margin-left: 6px;
}
.header .contact {
	float: right;
}
.header .phone {
	margin-top: 25px;
	margin-bottom: 8px;
}
.header .phone p {
	color: #424242;
}
.header .phone p:first-child {
	float: left;
	font-family: "RobotoMedium";
	font-size: 20px;
	margin-top: 5px;
}
.header .phone p:last-child {
	float: right;
	font-family: "RobotoBlack";
	font-size: 34px;
}
.header .contact-btn {
	width: 253px;
	height: 45px;
	border-radius: 5px;
	background-color: #009ce6;
	transition: background-color 0.3s ease-in-out;
	line-height: 45px;
	text-align: center;
}
.header .contact-btn:hover {
	background-color: rgb(255, 104, 1);
	cursor: pointer;
}
.header .contact-btn > a {
	display: block;
	height: 100%;
	font-family: "RobotoBlack";
	font-size: 15px;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
}

/*=====menu======*/

.menu {
	width: 100%;
	height: 55px;
	background: #fff007;
}
.menu .nav {
	position: relative;
}
.menu .nav > li {
	float: left;
	height: 55px;
	margin-right: 40px;
}
.menu .nav > li a {
	display: block;
	height: 55px;
	font-size: 16px;
	font-family: "RobotoBlack";
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 55px;
	text-align: center;
	border-bottom: 3px solid transparent;
}
.menu .nav > li a:hover {
	border-bottom: 3px solid #ffc105;
}
.menu .prev-price-btn {
	width: 253px;
	height: 70px;
	position: absolute;
	top: 0;
	right: 0;
	background: linear-gradient(160deg, #ff7607 30%,#ff2a05 31%);
	z-index: 2;
}
.menu .prev-price-btn > a {
	position: relative;
	display: block;
	height: 100%;
	font-size: 17px;
	font-family: "RobotoBlack";
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	line-height: 1.2em;
	padding-top: 15px;
	z-index: 2;
}
.menu .prev-price-btn > a::before {
	position: absolute;
	content: "";
	top: 55px;
	left: -15px;
	border: 8px solid transparent;
	border-top: 7px solid #c22104;
	border-right: 7px solid #c22104;
	z-index: 2;
}
.menu .prev-price-btn > a::after {
	position: absolute;
	content: "";
	top: 55px;
	right: -15px;
	border: 8px solid transparent;
	border-left: 7px solid #c22104;
	border-top: 7px solid #c22104;
	z-index: 2;
}
/*======banner======*/
.content {
	position: relative;
}
.banner {
	height: 616px;
	background-size: cover;
	position: relative;
}
#banner1.banner {
	background: url(../images/banner1.jpg) no-repeat center;
}
#banner2.banner {
	background: url(../images/banner2.jpg) no-repeat center;
}
.banner .container {
	padding-top: 120px;
}
.banner-text-1 {
	font-family: "GothamProBlack";
	font-size: 48px;
	color: #000;
	text-transform: uppercase;
}
.banner-text {
	margin-top: 20px;
	padding-top: 20px;
	height: 168px;
}
#banner1 .banner-text {
	background: url(../images/rectangle.png) no-repeat;
	padding-left: 25px;
}
#banner2 .banner-text {
	background: url(../images/rectangle3.png) no-repeat;
}
#banner2 img {
	float: left;
}
.banner-text-2 {
	font-family: "GothamProBlack";
	font-size: 30px;
	color: #000;
}
.banner-text-3 {
	font-family: "GothamProBlack";
	font-size: 64px;
	color: #000;
	text-transform: uppercase;
}
.banner-text-4 {
	font-family: "GothamProBlack";
	font-size: 118px;
	color: #ef0404;
	float: left;
	text-transform: uppercase;
	margin-top: -10px;
	margin-left: 5px;
}
.banner-text-5 {
	font-family: "GothamProBlack";
	font-size: 54px;
	color: #ef0404;
	float: left;
	text-transform: uppercase;
	margin-top: 4px;
	margin-left: -4px;
}
#banner2 .banner-text-2 {
	font-size: 26px;
	margin-left: 8px;
}
#banner2 .banner-text-3 {
	font-size: 58px;
	margin-left: 8px;
}
#banner2 .banner-text-4 {
	font-size: 100px;
}
#banner2 .banner-text-5 {
	font-size: 48px;
}
.banner .calculate-btn {
	width: 320px;
	height: 85px;
	background: linear-gradient(160deg, #ff7607 30%,#ff2a05 30%,#ff2a05 52%,#fc0404 52%);
	border-radius: 5px;
	margin: 35px;

}
.banner .calculate-btn > a {
	display: block;
	height: 100%;
	color: #fff;
	font-family: "RobotoBlack";
	text-transform: uppercase;
	text-decoration: none;
	padding-top: 20px;
	padding-left: 40px;
}
.banner .calculate-btn > a:hover {
	cursor: pointer;
}
.banner .calculate-btn > a img {
	float: left;
}
.banner .calculate-btn > a p:nth-child(2) {
	font-size: 32px;
	margin-left: 40px;
	margin-top: -3px;
}
.banner .calculate-btn > a p:last-child {
	font-size: 18px;
	margin-left: 40px;
}
.banner .scroll {
	width: 119px;
	height: 119px;
	position: absolute;
	bottom: -59px;
	left: 0;
	right: 0;
	margin: auto;
}
/*======text-block=====*/
.text-block {
	width: 100%;
	height: 485px;
	background: transparent;
}
#text-block1 {
	position: relative;
}
.text-block .head-1 > p:first-child {
	margin-left: 105px;
}
.text-block-content {
	width: 1100px;
	height: 255px;
	background: url(../images/text-block.png) no-repeat;
	margin-top: 60px;
	padding-left: 245px;
	padding-top: 60px;
}
.text-block-content span {
	font-size: 20px;
	font-family: "RobotoLight";
	color: #242424;
	line-height: 1.2em;
	width: 795px;
	display: block;
}
#text-block2 .container {
	position: relative;
	height: 485px;
}
#text-block2 .left {
	position: absolute;
	bottom: -40px;
	left: -160px;
	z-index: 3;
}
#text-block2 .right {
	position: absolute;
	top: 40px;
	right: -150px;
	z-index: 3;
}
#text-block2 .center {
	width: 1100px;
	height: 320px;
	background: url(../images/windows-bg.jpg);
	border-radius: 5px;
	padding-right: 50px;
	border: 3px solid #fff;
	position: absolute;
	top: 105px;
	left: 0;
	overflow: hidden;
	z-index: 5;
}
#text-block2 .head-2 {
	color: #000;
	text-align: right;
	margin-top: 40px;
	font-size: 50px;
}
#text-block2 .calculate-btn {
	float: right;
	width: 260px;
	height: 70px;
	background: linear-gradient(160deg, #ff7607 30%,#ff2a05 30%,#ff2a05 52%,#fc0404 52%);
	border-radius: 5px;
	margin-top: 115px;
	margin-right: 150px;
	/*position: absolute;
	top: 0;
	right: 0;*/
}
#text-block2 .calculate-btn > a {
	display: block;
	height: 100%;
	color: #fff;
	font-family: "RobotoBlack";
	text-transform: uppercase;
	text-decoration: none;
	padding-top: 15px;
	padding-left: 20px;
}
#text-block2 .calculate-btn > a:hover {
	cursor: pointer;
}
#text-block2 .calculate-btn > a img {
	float: left;
}
#text-block2 .calculate-btn > a p:nth-child(2) {
	font-size: 26px;
	margin-left: 40px;
	margin-top: -3px;
}
#text-block2 .calculate-btn > a p:last-child {
	font-size: 16px;
	margin-left: 40px;
}
/*=====services and prices=====*/
.services-prices {
	width: 100%;
	height: 920px;
	background: linear-gradient(158deg, #009de7 16%,#038aca 16%,#038aca 50%,#017bb4 50%);
	position: relative;
	padding-top: 55px;
	border-bottom: 3px solid #fff;
}
.services-prices .img-1 {
	position: absolute;
	top: -160px;
	left: -460px;
}
.services-prices .img-2 {
	position: absolute;
	bottom: 0;
	right: 0;
}
.services-prices .img-3 {
	position: absolute;
	top: 118px;
	left: 242px;
}
.services-prices .img-4 {
	position: absolute;
	bottom: -104px;
	left: 0;
	right: 0;
	margin: auto;
}
.services-prices .head-2 {
	margin-bottom: 70px;
}
.services-prices .text-1 {
	font-size: 21px;
	font-family: "GothamProBlack";
	color: #fff;
	text-transform: uppercase;
}
.services-prices .text-2 {
	font-size: 15px;
	font-family: "RobotoLight";
	color: #fff;
	margin: 20px 0px;
}
.services-prices .text-3 {
	font-size: 18px;
	font-family: "GothamProRegular";
	color: #000;
	float: left;
	text-transform: uppercase;
}
.services-prices .text-4 {
	font-size: 18px;
	font-family: "GothamProBold";
	color: #000;
	float: left;
	margin: 0px 4px;
}
.services-prices .text-5 {
	font-size: 14px;
	font-family: "GothamProRegular";
	color: #000;
	float: left;
}
.services-prices .rectangle {
	background: url(../images/rectangle2.png);
	width: 140px;
	height: 35px;
	padding: 9px;
}
.services-prices .left, .services-prices .right {
	float: left;
	height: 725px;
}
.services-prices .left {
	width: 370px;
}
.services-prices .right {
	margin-left: 400px;
	width: 325px;
}
.service-block {
	width: 370px;
	height: 165px;
}
.right .service-block {
	width: 330px;
	height: 165px;
}
.right .service-block:last-child {
	margin-top: 17px;
}
.left .service-block:last-child {
	margin-top: 33px;
}
/*=====capture=====*/
.capture {
	width: 100%;
	height: 565px;
	background: url(../images/borders.png) no-repeat top center, #ff1107;
	padding-top: 110px;
}
.capture .container {
	position: relative;
}
.capture .head-2 {
	font-size: 48px;
	letter-spacing: 0.05em;
}
.capture .time {
	margin-top: 20px;
	height: 60px;
}
.capture .time img { 
	margin-top: -7px;
	float: left;
	margin-left: 375px;
}
.capture .time p {
	font-size: 48px;
	color: #fff007;
	font-family: "GothamProLight";
	text-transform: uppercase;
	margin-left: 15px;
	float: left;
}
.capture .time p:last-child {
	font-family: "GothamProBlack";
}
.capture .inputs {
	border-radius: 5px;
	background-color: #fff;
	width: 343px;
	height: 53px;
	float: left;
	margin-top: 35px;
 	margin-left: 194px;
}
.capture .inputs img {
	float: left;
	margin: 13px;
}
.capture .inputs input {
	float: left;
	height: 53px;
	width: 290px;
}
.capture .inputs:last-child {
	margin-left: 31px;
}
.capture-btn {
	border-radius: 5px;
	border-bottom: 5px solid #ffa507;
	background-color: rgb(255, 240, 7);
	box-shadow: 0px 8px 0px 0px rgba(255, 165, 7, 0.004);
	width: 348px;
	height: 75px;
	margin-left: 54px;
}
.capture-btn a {
	display: block;
	height: 100%;
	font-size: 20px;
	font-family: "GothamProBlack";
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 75px;
	text-align: center;
}
.capture .shadow {
	background: url(../images/shadow.png) no-repeat center;
	width: 451px;
	height: 149px;
	margin-left: 327px;
	margin-top: 63px;
}
/*======extra=====*/
.extra {
	width: 100%;
	height: 730px;
}
.extra .head-1 {
	margin-left: 75px; 
	margin-bottom: 20px;
}
.extra-service {
	width: 275px;
	height: 290px;
	text-align: center;
	float: left;
}
.extra-service p {
	font-family: "RobotoRegular";
	font-size: 20px;
	text-align: center;
}
.extra-service p b {
	font-family: "RobotoBlack";
}
.first-line .extra-service:nth-child(1) {
	margin-top: 70px;
}
.first-line .extra-service:nth-child(2) {
	margin-top: 60px;
}
.first-line .extra-service:nth-child(3) {
	margin-top: 54px;
	margin-left: 10px;
	width: 265px;
}
.first-line .extra-service:nth-child(4) {
	margin-top: 70px;
}
.first-line .extra-service:nth-child(1) p {
	margin-top: 17px;
}
.first-line .extra-service:nth-child(2) p {
	margin-top: 30px;
}
.first-line .extra-service:nth-child(3) p {
	margin-top: 30px;
}
.first-line .extra-service:nth-child(4) p {
	margin-top: 5px;
}
.second-line .extra-service:nth-child(1) {
	margin-top: -17px;
	margin-left: 110px;
}
.second-line .extra-service:nth-child(2) {
	margin-top: -17px;
	margin-left: 316px;
	width: 290px;
}
.arrow {
	position: absolute;
	bottom: -91px;
	left: 378px;
}
/*===========coupon==========*/
.coupon {
	width: 100%;
	height: 496px;
	background: url(../images/bg.jpg) repeat-x;
	padding-top: 54px;
}
.coupon-img {
	width: 100%;
	height: 439px;
	background: url(../images/coupon.png) no-repeat center;
	padding-left: 140px;
	padding-top: 40px;
}
.coupon-img p {
	font-family: "GothamProBlack";
	font-size: 30px;
	color: #000;
	text-transform: uppercase;
}
.coupon-img p:nth-child(2) {
	color: #009ce6;
	margin-bottom: 20px;
	margin-top: 5px;
}
.coupon-img input {
	display: block;
	border: 1px solid rgb(204, 204, 204);
	background: #f3f3f3;
	width: 326px;
	height: 42px;
	margin-top: 5px;
	padding-left: 10px;
}
.coupon-btn {
	border-radius: 5px;
	background: linear-gradient(160deg, #ff7607 30%,#ff2a05 30%,#ff2a05 52%,#fc0404 52%);
	width: 325px;
	height: 59px;
	margin-top: 15px;
}
.coupon-btn a {
	font-family: "RobotoBlack";
	font-size: 22px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	height: 100%;
	line-height: 59px;
	text-align: center;
}
/*========prev-prices=======*/
.prev-prices {
	width: 100%;
	height: 567px;
	background: url(../images/girl-bg.jpg) no-repeat center;
	background-size: cover;
}
.prev-prices .container {
	position: relative;
	padding-left: 424px;
	height: 567px;
	padding-top: 50px;
}
.prev-prices .girl {
	position: absolute;
	top: 74px;
	left: 0;
}
.prev-prices .container p:nth-child(2) {
	font-family: "GothamProBlack";
	font-size: 32px;
	color: #000;
	text-transform: uppercase;
}
.prev-prices .container p:nth-child(3) {
	font-family: "GothamProBlack";
	font-size: 50px;
	color: #ff0000;
	text-transform: uppercase;
	margin-top: 5px;
}
.prev-prices .timer {
	margin-top: 25px;
	width: 581px;
	height: 186px;
	background: rgb(46, 50, 60);
	border-radius: 10px 10px 0px 0px;
	padding-top: 17px;
}
.prev-prices .timer p {
	font-family: "GothamProRegular";
	font-size: 24px;
	color: rgba(255, 255, 255, 0.5);
	margin: 0px 120px;
}
.prev-prices .time-container {
	float: left;
	margin-top: 15px;
	margin-left: 25px;
}
.prev-prices .time {
	font-family: "RobotoBlack";
	font-size: 53px;
	color: #fff;
	border-radius: 9px;
	box-shadow: 0.5px 0.866px 1px 0px rgba(0, 0, 0, 0.25),inset 0.5px 0.866px 0px 0px rgba(255, 255, 255, 0.2);
	width: 85px;
	height: 92px;
	line-height: 92px;
	text-align: center;
	position: relative;
}
.prev-prices .time:before {
	content: "";
	top: 40px;
	left: -2px;
	width: 2px;
	height: 12px;
	background: #fff;
	display: block;
	position: absolute;
}
.prev-prices .time:after {
	content: "";
	top: 40px;
	right: -2px;
	width: 2px;
	height: 12px;
	background: #fff;
	display: block;
	position: absolute;
}
.prev-prices .time-container:nth-child(2) {
	margin-left: 70px;
}
.prev-prices .time-container:nth-child(2) .time {
	background-color: #ff0000;
}
.prev-prices .time-container:nth-child(3) .time {
	background-color: #0289c8;
}
.prev-prices .time-container:nth-child(4) .time {
	background-color: #fdbc0e;
}
.prev-prices .time-container:nth-child(5) .time {
	background-color: #bebebe;
}

.prev-prices .t-label {
	font-family: "RobotoBlack";
	letter-spacing: 0.05em;
	font-size: 18px;
	color: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	margin-top: 5px;
	text-align: center;
}

.fix-form {
	background-color: rgb(249, 233, 0);
	width: 581px;
	height: 219px;
}
.fix-form input {
	border-radius: 5px;
	width: 401px;
	height: 66px;
	background: #fff;
	padding-left: 20px;
	margin-left: 90px;
	margin-top: 35px;
}
.fix-btn {
	display: none;
	border-radius: 5px;
	width: 401px;
	height: 66px;
	margin-left: 90px;
	margin-top: 15px;
}
.fix-btn.displayed {
	display: block;
}
.fix-btn-1 {
	background: linear-gradient(160deg, #ff7607 30%,#ff2a05 30%,#ff2a05 52%,#fc0404 52%);
}
.fix-btn-2 {
	background: linear-gradient(160deg, #009de7 30%,#038aca 30%,#038aca 52%,#017bb4 52%);
}
.fix-btn a {
	font-family: "RobotoBlack";
	font-size: 22px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	height: 100%;
	line-height: 66px;
}
.fix-btn a > span {
	color: rgb(249, 233, 0);
}
/*==========response==========*/
.response {
	width: 100%;
	height: 575px;
	background: #0289c8;
	padding-top: 85px;
}
.wr-responses {
	width: 981px;
    height: 300px;
    overflow: hidden;
    margin-left: 60px;
    margin-top: 50px;
}
.responses {
	width: 10000px;
	height: 300px;
}
.responses li {
	width: 981px;
	height: 300px;
	position: relative;
	padding-top: 25px;
	float: left;
}
.wr-responses .quotes {
	position: absolute;
	top: 80px;
	right: 70px;
	z-index: 2;
}
.responses .wr-photo {
	width: 216px;
	height: 216px;
	border: 2px solid #fff;
	border-radius: 50%;
	padding: 7px;
	float: left;
}
.responses .photo {
	width: 200px;
	height: 200px;
	overflow: hidden;
	border-radius: 50%;
	border: 5px solid transparent;
	background: transparent;
	
} 
.responses .text {
	float: left;
	color: #fff;
	margin-left: 30px;
	width: 735px;
}
.responses .text p:first-child {
	font-family: "RobotoRegular";
	font-size: 20px;
	margin: 30px 0px;
} 
.responses .text p:first-child span {
	font-family: "RobotoBold";
	font-size: 20px;
}
.responses .text p:last-child {
	font-family: "RobotoLight";
	font-size: 18px;
	line-height: 1.2em;
}
.response .prev {
	position: absolute;
	top: 175px;
	left: 0;
	background: url(../images/arrow-l.png) no-repeat center;
	width: 20px;
	height: 100px;
}
.response .next {
	position: absolute;
	top: 175px;
	right: 0;
	background: url(../images/arrow-r.png) no-repeat center;
	width: 20px;
	height: 100px;
}
.response .prev:hover, .response .next:hover {
	cursor: pointer;
}
.markers {
	width: 100px;
	height: 10px;
	position: absolute;
	bottom: -30px;
	left: 0;
	right: 0;
	margin: auto;
}
.markers li {
	margin: 0px 5px;
	width: 10px;
	height: 10px;
	background: #fff;
	border-radius: 50%;
	float: left;
}
.markers li.active {
	background: #f9e900;
}
/*========our works========*/
.our-works {
	width: 100%;
	height: 625px;
	position: relative;
}
.our-works .head-1 > p:first-child {
	margin-left: 225px;
}
.wr-gallery {
	height: 360px;
	width: 1010px;
	overflow: hidden;
	margin-top: 45px;
	margin-left: 45px;
}
.gallery {
	height: 360px;
	width: 10000px;
}
.gallery li {
	width: 1010px;
	height: 360px;
	float: left;
}
.gallery li > div:first-child {
	margin-bottom: 3px;
}
.gallery li .image {
	float: left;
	margin-right: 6px;
	width: 248px;
	height: ;
}
.gallery li .image:nth-child(4) {
	margin-right: 0px;
}
.wr-gallery .prev, .wr-gallery .next {
	position: absolute;
	top: 215px;
	width: 20px;
	height: 100px;
}
.wr-gallery .prev {
	left: 0;
	background: url(../images/r-arrow.png) no-repeat center;
}
.wr-gallery .next {
	right: 0;
	background: url(../images/l-arrow.png) no-repeat center;
}
/*==========questions========*/
.questions {
	width: 100%;
	height: 615px;
	background: #ff1107;
	position: relative;
}
.questions .container {
	position: relative;
	height: 615px;
	padding-top: 70px;
}
.questions .left {
	position: absolute;
	top: -85px;
	left: -50px;
}
.questions .right {
	position: absolute;
	bottom: 50px;
	right: 50px;
}
.questions .girl {
	position: absolute;
	bottom: -3px;
	right: 50px;
}
.questions .head-2 {
	text-align: left;
}
.questions .container p:nth-child(3){
	font-size: 22px;
	font-family: "RobotoMedium";
	color: #f9e900;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 30px;
	margin-left: 4px;
}
.questions .container p:nth-child(4){
	font-size: 20px;
	font-family: "RobotoMedium";
	color: #fff;
	text-transform: uppercase;
	margin-left: 4px;
}
.questions .container p:nth-child(5){
	font-size: 16px;
	font-family: "RobotoLight";
	color: #fff;
	margin-top: 20px;
	margin-bottom: 30px;
	line-height: 1.5em;
	margin-left: 4px;
}
.questions .container input[placeholder] {
	vertical-align: baseline;
}
.questions .container input:nth-child(6) {
	border-radius: 5px;
	background-color: #fff;
	width: 410px;
	height: 47px;
	padding: 8px;
	margin-left: 8px;
	margin-bottom: 8px;
	display: block;
}
.questions .container input:nth-child(7) {
	border-radius: 5px;
	background-color: #fff;
	width: 410px;
	height: 105px;
	padding: 8px;
	margin-left: 8px;
	display: block;
}

.question-btn {
	border-radius: 5px;
	border-bottom: 5px solid #ffa507;
	background-color: rgb(255, 240, 7);
	box-shadow: 0px 8px 0px 0px rgba(255, 165, 7, 0.004);
	width: 348px;
	height: 75px;
	margin-left: 53px;
}
.question-btn a {
	display: block;
	height: 100%;
	font-size: 20px;
	font-family: "GothamProBlack";
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 75px;
	text-align: center;
}
.questions .shadow {
	background: url(../images/shadow.png) no-repeat center;
	width: 451px;
	height: 135px;
	margin-left: -45px;
	margin-top: 20px;
}
/*========map=======*/
.map {
	width: 100%;
	height: 694px;
	position: relative;
	/*background: url(../images/map.jpg) no-repeat center;*/
}
.map .container {
	height: 694px;
	padding-top: 80px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.map .wr-our-contacts {
	width: 490px;
	height: 530px;
	border: 2px solid #028dcf;
	padding: 12px;
}
.map .our-contacts {
	width: 462px;
	height: 502px;
	background: #028dcf;
	color: #fff;
	padding-top: 40px;
}
.map .organization {
	margin: 50px 0;
	font-family: "RobotoLight";
	font-size: 18px;
	margin-left: 30px;
	line-height: 1.2em;
}
.map .contact {
	margin-bottom: 20px;
	margin-left: 30px;
}
.map .contact .icon {
	float: left;
	margin-right: 10px;
}
.map .contact p {
	font-family: "RobotoLight";
	font-size: 22px;
}
/*======footer======*/
.footer {
	width: 100%;
	height: 220px;
}
.footer .container {
	height: 220px;
	padding-top: 38px;
}
.footer .logo {
	height: 140px;
	line-height: 140px;
	float: left;
}
.footer .logo > a {
	display: block;
	height: 100%;
}
.footer .logo img {
	vertical-align: middle;
}
.footer .organization {
	float: left; 
	font-family: "RobotoLight";
	font-size: 18px;
	color: #777;
	margin-left: 30px;
	margin-top: 47px;
}

.footer .contact {
	float: right;
}
.footer .phone {
	margin-top: 25px;
	margin-bottom: 8px;
}
.footer .phone p {
	color: #424242;
}
.footer .phone p:first-child {
	float: left;
	font-family: "RobotoMedium";
	font-size: 20px;
	margin-top: 5px;
}
.footer .phone p:last-child {
	float: right;
	font-family: "RobotoBlack";
	font-size: 34px;
}
.footer .contact-btn {
	width: 253px;
	height: 45px;
	border-radius: 5px;
	background-color: #009ce6;
	transition: background-color 0.3s ease-in-out;
	line-height: 45px;
	text-align: center;
}
.footer .contact-btn:hover {
	background-color: rgb(255, 104, 1);
	cursor: pointer;
}
.footer .contact-btn > a {
	display: block;
	height: 100%;
	font-family: "RobotoBlack";
	font-size: 15px;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
}
/*=========modal windows========*/
.modal {
    display: none;
    position: fixed;
    z-index: 8;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background: rgba(0,0,0,0.8);
}
.modal .close {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	background: url(../images/close.png) no-repeat center;
}
.modal .close:hover {
	cursor: pointer;
}
.modal-content {
	margin: 120px auto;
	border-radius: 10px;
	background: url(../images/modal-bg.png) no-repeat 275px 250px, #fff;
	width: 553px;
	height: 488px;
}
.modal-header {
	border-radius: 10px 10px 0 0;
	height: 100px;
	width: 100%;
	background: #fff007;
	padding-top: 20px;
	position: relative;
}
.modal-head {
	font-family: "GothamProBlack";
	font-size: 30px;
	color: #000;
	text-align: center;
	text-transform: uppercase;
	line-height: 1.05em;
}
.modal-description {
	width: 100%;
	height: 80px;
	text-align: center;
	padding-top: 20px;
	font-size: 18px;
	font-family: "RobotoLight";
	color: #000;
}
.modal-inputs {
	width: 383px;
	height: 52px;
	border: 2px solid #fff007;
	background: #fafafa;
	margin-top: 5px;
	margin-left: 83px;
}
.modal-inputs .icon {
	width: 48px;
	height: 48px;
	float: left;
	padding: 10px;
}
.modal-inputs input {
	background: #fafafa;
	height: 48px;
	width: 331px;
	display: block;
	float: left;
}



.modal-btn {
	width: 320px;
	height: 85px;
	background: linear-gradient(160deg, #ff7607 30%,#ff2a05 30%,#ff2a05 52%,#fc0404 52%);
	border-radius: 5px;
	margin-top: 39px;
	margin-left: 118px;

}
.modal-btn > a {
	display: block;
	height: 100%;
	color: #fff;
	font-family: "RobotoBlack";
	text-transform: uppercase;
	text-decoration: none;
	padding-top: 20px;
	text-align: center;
}

.modal-btn > a p:nth-child(1) {
	font-size: 32px;
	margin-top: -3px;
}
.modal-btn > a p:last-child {
	font-size: 18px;
}











